<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <div class="parent_div">
            <div class="child_div">
                <h2 style="justify-content: center;">Error Occurred While Processing The Request. Please Contact Administrator For More Details </h2>
                @Html.ActionLink("Go Back", "Index", "ProfileDetails", new { area = "profile" }, new { @class = "btn btn-primary" })
            </div>
        </div>

    </hgroup>
</body>
</html>
